html,
body {
    height: 100%;
    width: 100%;
}
p {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-align: center;
}

/* canvas */ 
canvas{
	display: flex;
	position: absolute;
	top: 25px;
	left: 20%;
	margin: 100px auto;
	z-index: 10;
}
/* container */

#share {
	width: 100%;
	position: absolute;
	margin: 370px auto;
	display: flex;
	justify-content: center;
}

/* buttons */

#share a {
	width: 50px;
  	height: 50px;
  	display: inline-block;
  	margin: 8px;
  	border-radius: 50%;
  	font-size: 24px;
  	color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

.facebook {
 	background: #3b5998;
}

.twitter {
  	background: #55acee;
}