body {
    height: 100%;
    width: 100%;
}
p {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
input{
    height: 25px;
    margin-bottom: 50px;
}
button {
    height: 50px;
    width: 150px;
    box-shadow: 0 0 .25em #333;
    padding-top: 25px;
}